section, footer, aside, nav, article, figure, figcaption{ 
    display: block}

@font-face{
	font-family:'OSC';
	src: url('OpenSans-CondLight.ttf') format('truetype'); 
}

@font-face{
	font-family:'IF';
	src: url('IndieFlower.ttf') format('truetype'); 
}

*{
	font-family: 'Segoe UI';
}

h1{
	font-family: 'Dancing Script', cursive;
	display: block;
    text-align: center;
   	margin-top: 0px;
    margin-left: 0px;
    color: #2d5986;
    font-size: 58px;
    border-radius: 10px;
    width: 530px;
    float: left;
}

#keterangan{
	font-size: 12px;
	color: #e7d33e;
	margin-top: -8px;
	margin-left: -18px;
}

.login{
	font-family: Roboto;
	font-size: 15px;
	color: #fff;
	float: right;
	width: 90px;
	height: 27px;
	border: none;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 25px;
	background-color: #35adde;
	text-align: center;
	padding-top: 9px;
	transition:0.3s ease;
}

.login:hover{
	color: #35adde;
	background-color: #fff;
	transition:0.1s linear;
	font-weight: bold;
	border-radius: 2px solid #35adde;
}

.bio{
	margin-top: -26px;
}

#pictHeaderArt{
	width: 400px;
	height: 200px;
   align-content: center;
}

.header{
	text-align: center;
	color: #3696C8;
	font-family: 'IF', cursive;
	font-size: 44px;
	margin-top: 3px;
}

#success{
	text-align: center;
	color: #3696C8;
	font-family: 'IF', cursive;
	font-size: 20px;
	margin-top: 10px;
}

#profil{
	float: right;
	width: 110px;
	height: 45px;
	margin-right: 58px;
}

#karya{
	width: 480px;
	background-color: rgba(0,0,0,0.8);
	float: left;
	margin-left: 40px;
	padding-bottom: 10px;
	padding-top: 5px;
	border-radius: 20px;
    overflow: hidden;
}

.kotakan{
	height: 125px;
	width: 125px;
	background-color: rgba(0,0,0,0.4);
	float: left;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: 5px;
}

.gambar{
	height: 100px;
	width: 100px;
	margin-top: 3px;
	margin-left: 11px; 
	margin-bottom: -22px;
}

.title{
	text-align: center;
	color: white;
}

body{
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-color: #D1E3EC;
}

#footer{
	text-align: center;
	font-family: 'OSC';
}

#footer p{
	font-family: 'OSC'
}

.icon{
	width: 20px;
	height: 20px;
}

 #logoUkdw {
	width: 234px;
	height: 55px;
	float: left;
}

#utama{
	background-attachment: fixed;
	margin: auto;
	border-radius: 15px;
	opacity: 1;
	background-repeat: repeat-x;
}

#logo{
	width: 960px;
	height: 79px;
	margin: auto;
	overflow: hidden;
}

div {
    display: block;
}

.container{
	background-color: #fff;
	padding-bottom: 30px;
	overflow: hidden;
	border-radius: 20px;
	margin:auto;
	margin-top: 10px;
	width:960px;
}

#containIsi{
	width: 900px;
	margin:auto;
}

.gallery {
	margin-top: 20px;
	margin-right: 17px;
	margin-left: 17px;
	margin-bottom: 40px;
	border-radius: 16px;
	height: 197px;
	width: 190px;
	text-align: center;
	float: left;
	box-shadow: 0px 1px 5px 4px rgba(0,0,0,0.3);
}

.gallery:hover{
	background-color: pink;
	transition:0.3s ease;
}

#download{
	margin-left: 20px;
	background-color: white;
	border: 2px solid pink;
	border-radius: 30px;
	padding: 1px 9px;
	display: inline;
}
	
#download:hover{
	background-color: pink;
	font-weight: bold;
	transition: 0.1s linear;
}

#upload{
	float: left;
	margin-left: 392px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.detailPict{
	float: left;
	width: 265px;
	height: 265px;
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 10%;
}

.detailHeader{
	float: right;
	width: 640px;
	margin-right: 20px;
	margin-top: 0px;;
}

.detail{
	float: right;
	width: 640px;
	text-align: justify;
	margin-right: 20px;
}

#containSearch{
	width:667px;
	height: 40px;
	margin: auto;
}

#search{
	width: 622px;
	height: 28px;
	display: inline;
	margin-top: 2px;
}

#kotakSearch{
	width: 31px;
	height: 27px;
	float: right;
}

#tombolSearch{
	width: 22px;
	height: 22px;
	margin: auto;
	margin-left: 5px;
	margin-top: 2px;
	padding-top: 2px;
}

#formLogin{
	margin-left: 28px;
	margin-top: 28px;
}

#kotakAtas{
	background-color: white;
	position: absolute;
	height: 0px;
	overflow: hidden;
	width: 260px;
	margin-left: 700px;
	border-radius: 20px;
	margin-top: 40px;
	opacity: 0;
	transition:0.3s ease;
}

#kotakAtas.show{
	height: 200px;
	opacity: 1;
	transition:0.3s ease;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
}

#warning{
	height: 25px;
	width: 25px;
	float: right;
	opacity: 0;
}

#warning.show{
	opacity: 1;
}


#kotakLogin{
	background-color: #35adde;
	height: 28px;
	width: 67px;
	border-radius: 10px;
	float: right;
	margin-top: 15px;
	margin-right: 28px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
	transition: 0.3s ease;
	text-align: center;
	color: white;
	font-family: Roboto;
	transition: 0.3s ease;
	border: none;
}

#kotakLogin:hover{
	background-color: white;
	color: #35adde;
	transition: 0.1s linear;
	font-weight: bold;
	border: 2px solid #35adde;
}

.label{
	display: block;
	color: #35adde;
}

.kotakInput{
	display: inline;
	width: 200px;
}

.inputan{
	border-radius: 10px;
	border: 8px #ccc solid;
    width: 600px;
    height: 20px;
}

.nginput{
	width: 630px;
	overflow: hidden;
	margin: 0px auto;
	margin-left: 10px;
}

.created{
	width: 400px;
	float: left;
}

.tglupload{
	width:240px;
	float: right;
}

.del{
	width: 24px;
	height: 11px;
	background-color: pink;
	border-radius: 100%;
	padding-bottom: 12px;
	position: absolute;
	margin-left: 160px;
	margin-top: 5px;
	border: 2px solid white;
}

.del:hover{
	background-color: white;
	transition: 0.3s ease;
}

.kotak{
	width:600px;
}

.biru{
	color: #3696C8;
	font-weight: bold;
}
#pictop{
	display: block;
	margin:auto;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 0px;
}

.fotoprofil{
	float: left;
	border-radius: 10%;
	width: 300px;
	height: 300px;
	margin-left: 25px;
}

#ul{
	float: left;
}

.rincian{
	font-size: 20px;
	list-style-type: none;
}

#menu{
	width: 100%;
	height: 70px;
}

.menu.aktif{
	background-color: pink;
	border-radius: 7px;
	transition:0.3s ease;
}

.menu:hover{
	background-color: pink;
	border-radius: 7px;
	transition:0.1s linear;
	font-weight: bold;
	border: 1px solid grey;
}

#menu ul{
	margin: 0px;
	padding: 0px;
}

#menu li{
	margin: 18px 0px 0px 0px;
	list-style-type: none;
	float: left;
	width: 24%;
	height: 35px;
	padding-top: 10px;
	text-align: center;
	border-right:2px solid grey;
}

#menu1 li{
	margin: 18px 0px 0px 0px;
	list-style-type: none;
	float: left;
	width: 33%;
	height: 35px;
	padding-top: 10px;
	text-align: center;
	border-right:2px solid grey;
}

#menu .divider{
	background-color: black;
	height: 35px;
	width: 2px;
	margin: 10px 1px;
	float: left;
}

.delete{
	width: 25px;
	height:25px;
	margin-right: 50px;
}

.reply{
	width: 672px;
    height: 70px;
}

.profPict{
	width: 135px;
	height: 135px;
	float: left;
	border-radius: 100%;
}


#judulTabel{
	font-weight: bold;
	color: #35adde;
}

.photoTable{
	width: 50px;
	height: 50px;
}

#listUser{
	width: 860px;
    margin-left: 40px;
}

.foto{
	height: 138px;
	width: 150px;
	margin-top: 19px;
	margin-bottom: -10px;
}

#submit{
	margin-top: 15px;
	margin-left: 550px;
}

#edit{
	font-family: Roboto;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 560px;
	border: none;
	background-color: #84d6fe;
	border-radius: 25px;
	width: 63px;
	height: 28px;
	padding-left: 15px;
	padding-top: 4px;
}

#enter{
	font-family: Roboto;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 550px;
	border: none;
	background-color: #84d6fe;
	border-radius: 25px;
	width: 75px;
	height: 30px;
}

.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	background-color: #ffffff;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 5px;
}

.category{
	list-style: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 12px;
	margin: 5px 0px;
}

.category:hover{
	background-color: white;
	color: white;
	transition: 0.3s ease;
}

.category.aktif{
	background-color: white;
}

nav li a {
	color: #de6581;
}

nav li a:hover, nav li a.current {
	color: #de6581;
	transition: 0.3s ease;
}

section.courses {
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;
}

article {
	clear: both;
	overflow: auto;
	width: 100%;
}

hgroup {
	margin-top: 40px;
}

figure {
	float: left;
	height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;
}

figcaption {
	font-size: 90%;
	text-align: left;
}

aside {
	width: 165px;
	float: left;
	padding: 0px 0px 0px 17px;
	height: 200px;
}

aside section a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
	background-color: pink;
	transition: 0.3s ease;
}

a {
	color: #de6581;
	text-decoration: none;
}

aside h2 {
	color: #000000;
	margin-bottom: 3px;
}

/*.ilmiah{
    background-color: #c7d8c6;
	margin-top: 0px;
    margin-right: 17px;
    margin-left: 17px;
    margin-bottom: 40px;
    border-radius: 50px;
    height: 197px;
    width: 190px;
    opacity: 0.8;
    text-align: center;
    float: left;*/
}

.kotak{
    width: 33px;
	height: 33px;
	background-color: #88d7fe;
	float: left;
	margin-top: 0px;
	margin-left: -33px;
}

.leftSide{
	display: inline;
	float: left;
	width: 20%;
	border-radius: 10px 0px 0px 10px;
	background-color: pink;
}

.topSide{
	display: inline;
	float: left;
	text-align: center;
	width: 55%;
	height: 230px;
}

.rightSide{
	display: inline;
	float: right;
	width: 20%;
	margin-right: 17px;
	height: 230px;
	border: solid pink ;
	box-shadow: 0px 1px 5px 4px rgba(0,0,0,0.2);
	/*border-radius: 0px 10px 10px 0px;
	background-color: pink;*/
}

.contentSide{
	width: 490px;
	margin-left: 15px;
	border: solid pink 1px;
	float: left;
	padding-left: 19px;
}

#judulKarya{
	width: 800px;
}

#detailSingkat{
	width: 800px;
}
#link{
	width: 800px;
}

#tgl{
	width: 300px;
}

#buttonSubmit{
	background-color: pink;
	width: 70px;
	border-radius: 20px;
	display: block;
}

#buttonSearch{
	background-color: #3696c8;
	padding-right: 1px;
	padding-left: 1px;
	float: right;
}

#buttonSearch:hover{
	background-color: pink;
	transition: 0.3s ease;
}

.searchview{
	margin-top: 10px;
	border-radius: 7px;
	height: 97px;
	width: 896px;
	float: left;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 9px;
}

.searchview:hover{
	background-color: pink;
	transition: 0.3s ease;
}

.gmbr{
	width: 100px;
	display: inline;
	float: left;
}

.searchimg{
	height: 85px;
	width: 90px;
	margin-top: 4px;
	margin-left: 4px;
}

.itemsearch{
	margin-top: 6px;
	margin-bottom: 3px;
	margin-left: 110px;
}

.noresult{
	
}.karyadel{
	width: auto;
	height: auto;
	background-color: pink;
	border-radius: 100%;
	position: absolute;
	margin-left: 864px;
	margin-top: -2px;
	padding: 0px 9px;
	border: 2px solid white;
}